body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#navbar,
#footer {
  background-color: rgba(219, 94, 10, 1);
}

#navbar .navbar-brand {
  font-size: x-large;
  font-weight: 500;
  border-bottom: 0.25rem solid white;
}

.nav-link {
  color: rgba(255, 255, 255, 0.603);
  font-weight: 400;
  margin-left: 1rem;
  padding: 0.25rem 0;
}

.nav-link:hover {
  color: white;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2px;
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
