<% layout(`/layouts/boilerplate.ejs`)-%>
<h1 class="text-center mb-3">New User!</h1>
<hr class="d-none d-md-block my-2 ms-3 mb-3" />
<div class="container">
  <form
    novalidate
    action="http://localhost:3000/users/register"
    method="POST"
    class="needs-validation"
  >
    <div class="mb-3">
      <label for="username" class="form-label">Username: </label>
      <input
        required
        class="form-control"
        type="text"
        id="username"
        name="username"
        placeholder="Luwz"
      />
      <div class="valid-feedback">Looks cool!</div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email: </label>
      <div class="input mb-3">
        <input
          required
          type="email"
          id="email"
          name="email"
          placeholder="mymail@mail.com"
          class="form-control"
        />
        <div class="valid-feedback">Looks cool!</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password: </label>
      <input
        required
        class="form-control"
        type="password"
        id="password"
        name="password"
        placeholder="*****"
      />
      <div class="valid-feedback">Looks cool!</div>
    </div>
    <div class="mb-3">
      <button class="btn btn-light border" type="submit">Sign Up</button>
    </div>
  </form>
  <div class="mb-3">
    <a
      class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      href="http://localhost:3000/users/login"
      >Log In</a
    >
  </div>
</div>
